img
  width: 100%

.about--underline
  text-decoration: underline

.about--rotate
  transform: rotate(180deg)

.about--image-margin
  margin-right: 15px

.about--background
  background-color: whitesmoke

.columns
  margin: 5px 0px

@media (max-width: 768px)
  .about--order1
    order: 1
  .about--order2
    order: 2
