html, body
  height: 100%

.footer
  background-color: lightblue

.section
  //max-width: 1800px
  background-color: gainsboro
  align-content: center
  justify-content: center
  height: 85vh
  padding-bottom: 0px
  padding-top: 0px


.nav
  background-color: lightblue

.test
  height: 100%
  background-color: white
  padding-top: 40px

.project--card
  justify-content: center
