.project--card
  justify-content: center
  margin-bottom: 10px

.project--height
  height: 100%

.project--title
  text-align: center
  font-size: 2em
  margin-bottom: 60px

.project--underline
  text-decoration: underline
