.project--card-container
  margin-bottom: 15px

.project--card
  justify-content: center

.project--height
  height: 100%

.project--title
  text-align: center
  font-size: 2em
  margin-bottom: 60px

.project--underline
  text-decoration: underline






$orange: #FF851B

.media-left
  margin-right: 0

.image-container
  max-width: 300px

.project-description
  padding: 10px
  margin-left: 10px

.project-technologies
  padding: 10px
  margin-left: 10px


.media-content.is-flex.media-flex
  flex-direction: column
  justify-content: space-between
  align-content: center
  align-items: space-between
  height: 100%

.content
  height: 100%
  flex-direction: column
  justify-content: space-around

.media-left.is-flex
  justify-content: center
  align-items: center

.column.is-5.is-flex.image-column
  align-self: center

div.media-left.is-flex
  justify-content: center

.github-span
  margin-left: 10px
  line-height: 1

.is-flex.github-container
  justify-content: flex-end
  align-items: flex-end
  border-bottom: none
  color: #111

.content a:not(.button)
  border-bottom: 0

.content a:not(.button):visited
  color: #111

.fa.fa-github
  justify-content: flex-end
  align-self: flex-end

span.github-span
  align-self: flex-end

.is-one-quarter.is-fixed
  position: absolute
  right: 75px
  top: 10px
  max-width: 200px

@media (max-width: 769px)
  .column.is-5.is-flex.image-column
    border-right: 0

.column.is-5.is-flex.image-column
  border-radius: 4px

div.section.main-section
  background-color: whitesmoke

@media (max-width: 500)
  .box.portfolio
    min-height: 500px
