.project--card-container
  margin-bottom: 15px

.project--card
  justify-content: center

.project--height
  height: 100%

.project--title
  text-align: center
  font-size: 2em
  margin-bottom: 60px

.project--underline
  text-decoration: underline
